/public/*
/resources/*
/public
/resources
/public/writing
/public/css
/public
/public
ashby_companies.txt
get-pip.py
greenhouse_companies.txt
lever_companies.txt
seen_jobs.db
ux_job_alerts.log
ux_job_alerts.py
ux_job_alerts_old.py
