{{ define "main" }}
<div class="container hero fs-4 mt-5">
  <h1 class="heading display-4 me"><em>Hello!</em></h1>
  <h2 class="heading">This is the website of <span class="me">Leon Barnard</span>, <a href="/design">designer</a>, <a href="writing">writer</a>, family guy, and sometimes <a href="https://www.mixcloud.com/leonbarnard/" target="_blank">DJ</a>.</h2>
<p>Here are some fun things that I've done...</p>
</div>
<div class="container">
	<div class="row justify-content-between my-5">

		<!-- Design -->
		<div class="col-12">
			{{ with .Site.GetPage "section" "design" }}
			<div class="pb-2">
				<a class="heading fs-1" href="{{ .RelPermalink }}">{{ .Title }}</a>
			</div>          
			{{ if .Summary }} 
			<p class="subheading">{{ .Summary }}</p> 
			{{ end }}
			{{ end }}
			<div class="row justify-content-between g-4 mb-5">
				{{ range ( where site.RegularPages.ByWeight "Section" "design" | first 6 ) }}
				{{ partial "home_design.html" . }}
				{{end}}
    		</div>
			{{ with .Site.GetPage "section" "design" }}
			<div class="d-flex flex-row-reverse">
				<a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">See all projects</a>
			</div>    
			{{ end }}
  		</div>
	</div>

  <!-- Writing -->
  <div class="col-12">
    {{ with .Site.GetPage "section" "writing" }}
          <div class="pb-2">
              <a class="heading fs-1" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>      
    {{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
    {{ end }}
    <div class="row justify-content-between g-4 mb-5">
      {{ with .Site.GetPage "section" "writing" }}
      {{ range .Site.Taxonomies.tags.favorite | first 6 }}
      {{ partial "home_writing.html" . }}
      {{ end }}
      {{ end }}
        </div>
    {{ with .Site.GetPage "section" "writing" }}
    <div class="d-flex flex-row-reverse">
          <a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">See all articles</a>
        </div>
        {{ end }}
  </div>
    
	<!-- Library -->
	<div class="col-12">
		{{ with .Site.GetPage "section" "speaking" }}
		<div class="pb-2">
			<a class="heading fs-1" href="{{ .RelPermalink }}">{{ .Title }}</a>
		</div>
		{{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
    {{ end }}
    <div class="row justify-content-between g-4 mb-5">
      {{ range ( where site.RegularPages.ByWeight.Reverse "Section" "speaking" | first 6 ) }}
      {{ partial "home_design.html" . }}
      {{end}}
      </div>
    {{ with .Site.GetPage "section" "speaking" }}
    <div class="d-flex flex-row-reverse">
      <a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">See all talks</a>
    </div>    
    {{ end }}
    </div>
</div>

	</div>
</div>
{{ end }}